body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    font-family: 'Oswald', sans-serif;
    box-sizing: inherit;
    margin: 0;
}

a {
    text-decoration:none;
    color: black;
}

img {
    width: 100%;
}

p, li {
    text-indent: 0.5rem;
    text-align: justify;
}