:root {
    --fs0: 0.75rem;
    --fs1: 1rem;
    --fs2: 1.25rem;
    --fs3: 1.5rem;
    --fs4: 2rem;
    --fs5: 3rem;
    --fs6: 4rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
}

.dinamic-button {
    font-size: var(--fs3);
    width: fit-content;
    align-self: center;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    border-radius: 1.5rem;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.8s;
}

.dinamic-button:hover {
    padding: 0.25rem 1.25rem 0.25rem 1.25rem;
    letter-spacing: 3px;
}
